@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* font */
* {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 기타 옵션 */
html, body {
    overflow-x: hidden;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

/* 모바일 환경에 맞춘 기본 스타일 */
.knowledge-detail-container h1 {
    font-size: xxx-large;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.knowledge-detail-container h2 {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
}

.knowledge-detail-container h3 {
    font-size: x-large;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 3px;
}

.knowledge-detail-container h4 {
    font-size: large;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.knowledge-detail-container p {
    line-height: 1.5;
}

.knowledge-detail-container li {
    list-style: disc;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}

/* 화면 너비가 600px 이상일 때 적용되는 스타일 */
@media only screen and (min-width: 600px) {
    .knowledge-detail-container h1 {
        font-size: xx-large;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .knowledge-detail-container h2 {
        font-size: x-large;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .knowledge-detail-container h3 {
        font-size: larger;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .knowledge-detail-container li {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
    }
}

#sidebar::-webkit-scrollbar {
    width: 12px;
}

#sidebar::-webkit-scrollbar-thumb {
    background-color: #92A4F9;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 10px;
}

#panel::-webkit-scrollbar {
    width: 12px;
}

#panel::-webkit-scrollbar-thumb {
    background-color: #92A4F9;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 10px;
}

#landing-container::-webkit-scrollbar {
    width: 12px;
    background-color: #3F56C2;
    border-radius: 100px;
}

#landing-container::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 10px;
}

#link-bar {
    animation: link-bar-on 0.3s ease-in-out;
}

#landing-arrow-down {
    animation: arrow-down 1s ease-in-out infinite;
}

.ql-toolbar.ql-snow {
    border: 1px solid #C1C1C1 !important;
    border-top-left-radius: 0.375rem !important;
    border-top-right-radius: 0.375rem !important;
}

.ql-container.ql-snow {
    border-bottom: 1px solid #C1C1C1 !important;
    border-bottom-left-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
    height: 300px !important;
}

.arrowLeftContainer {
    animation: arrowLeft 1s infinite ease-in-out;
}

.arrowRightContainer {
    animation: arrowRight 1s infinite ease-in-out;
}

@keyframes arrowLeft {
    0% {
        left: 2.5rem;
    }
    50% {
        left: 2rem;
    }
    100% {
        left: 2.5rem;
    }
}

@keyframes arrowRight {
    0% {
        right: 2.5rem;
    }
    50% {
        right: 2rem;
    }
    100% {
        right: 2.5rem;
    }
}

@keyframes link-bar-on {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes arrow-down {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}