@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* font */
* {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 기타 옵션 */
html, body {
    overflow-x: hidden;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

#sidebar::-webkit-scrollbar {
    width: 12px;
}

#sidebar::-webkit-scrollbar-thumb {
    background-color: #92A4F9;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 10px;
}

#panel::-webkit-scrollbar {
    width: 12px;
}

#panel::-webkit-scrollbar-thumb {
    background-color: #92A4F9;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 10px;
}

#landing-container::-webkit-scrollbar {
    width: 12px;
    background-color: #3F56C2;
    border-radius: 100px;
}

#landing-container::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 10px;
}

#link-bar {
    animation: link-bar-on 0.3s ease-in-out;
}

#landing-arrow-down {
    animation: arrow-down 1s ease-in-out infinite;
}

.ql-toolbar.ql-snow {
    border: 1px solid #C1C1C1 !important;
    border-top-left-radius: 0.375rem !important;
    border-top-right-radius: 0.375rem !important;
}

.ql-container.ql-snow {
    border-bottom: 1px solid #C1C1C1 !important;
    border-bottom-left-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
}

@keyframes link-bar-on {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes arrow-down {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}